*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    color: #54456c;
    background-image: url('./images/background1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    backdrop-filter: blur(0.2rem);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header{
    color: #9c0000;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #000000d0;
}
.categorias{
    width: 4rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: paleturquoise; */
}
.categoria{
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    list-style: none;
}
.menuH{
    margin-block: 2rem;
    width: 3rem;
    height: 3rem;
    background-image: url("./images/menuH.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.filme{
    background-image: url("./images/video-camera.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.serie{
    background-image: url("./images/television.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.video{
    background-image: url("./images/play-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.listFlix{
    width: 100%;
    height: calc(100% - 2rem);
    background-color: #000000cb;
}